---
layout: default
title: Keith's EF Life
---
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            {% include header.html %}
            <!-- Banner -->
            <section id="banner">
                <div class="content">
                    <header>
                        <h1>Hi, I’m Keith</h1>
                        <p>
                            I come from Hunan, but I live in Chengdu now. I'm a programer.
                            I like doing sport,include running, badminton, pingpang and skiing.
                            I also like watching movies, especially science fiction film.
                        </p>
                        <p>Welcome to my Blog to study English together and share something from each other！</p>
                    </header>
                    <p>

                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button big">More</a></li>
                    </ul>
                </div>
                <span class="image object">
										<img src="images/English-Language.jpg" alt="" />
									</span>
            </section>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>笔记分类（Category）</h2>
                </header>
                <div class="features">
                    <article>
                        <span class="icon fa-diamond"></span>
                        <div class="content">
                            <h3>词（Words）</h3>
                            <p>
                                a unit of language, consisting of one or more spoken sounds or their
                                written representation, that functions as a principal carrier of meaning.
                                Words are composed of one or more morphemes and are either the smallest
                                units susceptible of independent use or consist of two or three such units
                                combined under certain linking conditions, as with the loss of primary accent
                                that distinguishes black·bird· from black· bird·. Words are usually separated
                                by spaces in writing, and are distinguished phonologically, as by accent, in many languages.
                            </p>
                        </div>
                    </article>
                    <article>
                        <span class="icon fa-paper-plane"></span>
                        <div class="content">
                            <h3>句（Sentences）</h3>
                            <p>
                                Grammar. a grammatical unit of one or more words that expresses an
                                independent statement, question, request, command, exclamation, etc.,
                                and that typically has a subject as well as a predicate,
                                as in John is here. or Is John here? In print or writing,
                                a sentence typically begins with a capital letter and ends with
                                appropriate punctuation; in speech it displays recognizable,
                                communicative intonation patterns and is often marked by preceding and following pauses.
                            </p>
                        </div>
                    </article>
                    <article>
                        <span class="icon fa-rocket"></span>
                        <div class="content">
                            <h3>短语（Phrase）</h3>
                            <p>
                                a sequence of two or more words arranged in a grammatical construction and acting as a unit in a sentence.
                            </p>
                        </div>
                    </article>
                    <article>
                        <span class="icon fa-signal"></span>
                        <div class="content">
                            <h3>文章（Article）</h3>
                            <p>
                                a written composition in prose, usually nonfiction, on a specific topic,
                                forming an independent part of a book or other publication, as a newspaper or magazine.
                            </p>
                        </div>
                    </article>
                </div>
            </section>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>笔记（Notes）</h2>
                </header>
                <div class="posts">
                    <article>
                        <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                        <h3>Interdum aenean</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                        <h3>Nulla amet dolore</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                        <h3>Tempus ullamcorper</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                        <h3>Sed etiam facilis</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                        <h3>Feugiat lorem aenean</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                        <h3>Amet varius aliquam</h3>
                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">More</a></li>
                        </ul>
                    </article>
                </div>
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    {% include menu.html %}

</div>
