---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            {% include header.html %}

            <!-- Content -->
            <section>
                <header class="main">
                    <h1>{{ page.title }}</h1>
                    <p class="post-meta">
                        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                            {{ page.date | date: "%b %-d, %Y" }}
                        </time>
                        {% if page.author %} •
                        <span itemprop="author" itemscope
                                                     itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ page.author }}</span></span>
                        {% endif %}</p>
                </header>
                {{ content }}
            </section>

        </div>
    </div>

    <!-- Sidebar -->
    {% include menu.html %}

</div>
